<h1>DETALLES PELÍCULAS</h1>

<div class="card">
    <img class="img" src="{{image}}" alt="caratula-movie">
    <h4>{{this.title}}</h4>
    <h6>{{this.director}}</h6>

    <ul>
        <li>{{this.stars}}</li>
    </ul>
    <p>{{this.description}}</p>
    <a href="/"><button type="button" class="btn">START</button></a>
</div> 