
<div class="card">
  
    <img class="img" src="{{idMovies.image}}" alt="caratula-movie">
    <h4>{{idMovies.title}}</h4>
    <h6>{{idMovies.director}}</h6>

    <ul>
        <li>{{idMovies.stars}}</li>
    </ul>
    <p>{{idMovies.description}}</p>
    <p>{{idMovies.showtimes}}</p>
</div> 